<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    <meta charset="UTF-8">
    <title></title>

</head>
    <body>
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.

<!--        <h1 th:text="'Welcome, ' + ${username}" name="user" id="user"></h1>-->

        User ID: <span th:text="${#authentication.principal.id}"/>
        Username: <span th:text="${#authentication.principal.username}"/>
        Email: <span th:text="${#authentication.principal.email}"/>
    </div>

    You are viewing the show page. Here is a list of posts.


    <ul>
        <!--    LOOPING THROUGH ALL POSTS BY USING POST REPO(EXTENDS JPA REPO) findAll() METHOD IN POST CONTROLLER -->
        <li th:each="post : ${postList}">
            <!--       DISPLAYING EACH INDIVIDUAL POSTS TITLE -->
            <a th:href="@{/posts/{id} (id = ${post.id})}"  th:text="${post.title}"></a>
        </li>
    </ul>

    <nav>
        <ul>
            <!-- More links here... -->
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </nav>


    </body>
</html>